include ../components/mixins/all

block config
  - pageKey = 'home'

doctype html
html(lang='en')
  head
    include head
  body(class=pageKey)
    .wrapper
      include header
      .page-content
        a.logo.desktop(href='/', target='_self')
          include logo
        .intro
          if pageType === 'news'
            +banner(NEWS[pageKey].image)
          else
            +banner(CONFIG[pageKey].image)
          +info()
        .main-content
          if pageType === 'news'
            h2.page-title #{NEWS[pageKey].title}
          else
            h2.page-title #{CONFIG[pageKey].title}
          .content
            block mainContent
          include footer
      include footer
      include mobile-menu
    include scripts