include ../components/mixins/all

block config
  - pageKey = 'home'

doctype html
html(lang='en')
  head
    include head
  body(class=pageKey)
    .wrapper
      include header
      .page-content
        a.logo.desktop(href='/', target='_self')
          include logo
        .intro
          if bannerImage !== ''
            +banner(CONFIG[pageKey].banner)
          +info()
        .main-content
          h2.page-title #{CONFIG[pageKey].title}
          .content
            block mainContent
          include footer
      include footer
      include mobile-menu
    include scripts