body.home {
  h2.page-title {
    display: none;
  }

  .main-content {
    margin-top: 0;
    background: none;

    .content {
      padding: 0;
    }
  }

  .hp-teasers {
    @media screen and (min-width: $sm) {
      display: flex;
      align-items: stretch;

      .teaser {
        width: calc(50% - 1.5rem);

        &:first-child { margin-right: 3rem; }
      }
    }
  }
}
