mixin info()
  .info
    section
      h1 Aikido in Gent
      h4 Ontdek een authenthieke Japanse krijgskunst
    section
      table.timetable
        tr
          td Dinsdag
          td 20:00 - 22:00
        tr
          td Donderdag
          td 21:00 - 22:30
      p
        | Sportzaal Neptunus
        br
        | Botestraat 98, 9032 Wondelgem
    section
      table.contact
        tr
          td Telefoon
          td
            a.tel(href='tel:+32486139171') 0486 13 91 71 (Dries)
        tr
          td E-mail
          td
            a.mailto(href='mailto:info@aikidogent.be') info@aikidogent.be
    a.more-link(href='/praktische-informatie.html') Praktische informatie