include ../icons/chevron-right

mixin news-teaser(href, image, title, text)
  - const hasImage = image !== ''
  li.news-teaser
    a(href=href)
      if hasImage
        .image(style='background-image: url(' + image + ')')
      .content
        h3= title
        p= text
      +chevron-right()