mixin teaser (title, image, href)
  a.teaser(href=href)
    .image(style='background-image: url(' + image + ')')
    .content
      h3= title
      if block
        block
      else
        p Er is geen content ingegeven voor deze teaser
    .more-link Lees meer