extends ../includes/base

block config
  - pageType = 'news'
  - pageKey = 'corona'

block mainContent
  p De overheid en de Nationale veiligheidsraad hebben de regels voor de sportsector versoepelt. Concreet wil dat zeggen dat we terug van start kunnen gaan.
  p Dinsdag 9 juni wordt er opnieuw les gegeven, zij het aangepast.
  p De les zal buiten doorgaan en zal gefocused zijn op individuele training. De opwarming zal iets uitgebreider zijn en er zal voornamelijk met wapens getraind worden. De les gaat opnieuw elke dinsdag en donderdag door op de normale uren. Mogelijks gaan we binnenkort weer binnen in onze dojo trainen. Meer nieuws daarover volgt nog.