extends ../includes/base

block config
  - pageType = 'news'
  - pageKey = 'corona'

block mainContent
  p De overheid en de Nationale veiligheidsraad hebben de regels voor de sportsector versoepelt. Concreet wil dat zeggen dat we terug van start kunnen gaan.
  p Dinsdag 9 juni wordt er opnieuw les gegeven, zij het aangepast.
  p De lessen gaan buiten door en zijn gefocused op individuele training. De opwarming is iets uitgebreider en er wordt voornamelijk met wapens getraind. De lessen gaan opnieuw elke dinsdag en donderdag door. Op donderdag starten we om 20u ipv 21u. Mogelijks gaan we binnenkort weer binnen in onze dojo trainen. Meer nieuws daarover volgt nog.