extends ../includes/base

block config
  - pageType = 'news'
  - pageKey = 'corona-heropstart'

block mainContent
  p Vorige week zijn onze trainingen opnieuw opgestart. De eerste 2 trainingen verliepen buiten op het gras onder de stralende zon.
  p Ook al wordt de inhoud van de lessen aangepast, daarom zijn ze niet minder interessant. In elke crisis schuilt een opportuniteit. We maken van de situatie gebruik om dieper in te gaan op het werken met wapens. Zowel de JO (houten staf) als de BOKUTO (houten zwaard) komen aan bod.
