extends ../includes/base

block config
    - pageType = 'news'
    - pageKey = 'kennisdeling-gent'

block mainContent
  p #[strong "Go Ryu"], de naam van onze dojo, betekent #[strong "samenvloeien"]. Het symboliseert het samenkomen van verschillende stromen, stromen die elkaar versterken.
  p In Aikido zijn er verschillende scholen of stromen. Op 17 september 2023 brengt Go Ryu voor de tweede maal een aantal van deze scholen samen, met het doel om onze ervaringen te delen. We zijn immers allemaal gepassioneerd door dezelfde kunst, we streven hetzelfde doel na. Door onze ervaringen te delen versterken we elkaar.
  p Samen met Aikikai Gent, Aiki-o-kami, Ten Chi no dojo en Shochikubai, respectievelijk vertegenwoordigd door Guy Riems, David Thomas, Alain Dujardin en Marc Eliaert, kunnen we genieten van een dag boordevol Aikido. Elke dojo geeft 3 kwartier les.
  p Dit evenement is toegankelijk voor alle Aikidoka uit alle scholen.

  h3 Enkele foto's van de vorige, zeer geslaagde editie:

  +gallery('kennisdeling-2022',5)
