extends ../includes/base

block config
    - pageType = 'news'
    - pageKey = 'kennisdeling-gent'

block mainContent
  p #[strong "Go Ryu"], de naam van onze dojo, betekent #[strong "samenvloeien"]. Het symboliseert het samenkomen van verschillende stromen, stromen die elkaar versterken.
  p In Aikido zijn er verschillende scholen of stromen. Op 17 september 2022 brengt Go Ryu een aantal van deze scholen samen, met het doel om onze ervaringen te delen. We zijn immers allemaal gepassioneerd door dezelfde kunst, we streven hetzelfde doel na. Door onze ervaringen te delen versterken we elkaar.
  p Samen met Aikikai Gent en Ten Chi no dojo, respectievelijk vertegenwoordigd door Guy Riems en Alain Dujardin, zullen we genieten van een namiddag vol Aikido. Elke dojo zal 1u les geven.
  p Dit evenement is volledig #[strong gratis] en toegankelijk voor alle Aikidoka uit alle scholen. We gaan samen op de mat van 14u tot 17u30.