extends ../includes/base

block config
    - pageType = 'news'
    - pageKey = 'maand-van-de-sportclub-2021'

block mainContent
  p Gedurende de maand september kan je in kader van 'Maand van de Sportclub' bij ons gratis aikido initiatielessn komen volgen. Geen reden meer om te twijfelen eens mee op de mat te stappen!
  p
    b Elke dinsdag van 20:00 tot 22:00
    |  kan je bij ons terecht voor een
    b  initiatieles.
