extends ../includes/base

block config
    - pageType = 'news'
    - pageKey = 'overlijden-frank'

block mainContent
    p Op zaterdag 24 augustus 2024 namen we samen afscheid van onze goede vriend Frank Vanhyfte.
    p In onze dojo was Frank de sempai, wat zoveel betekent als de meest ervaren onder de leerlingen. Hij stond altijd klaar om iedereen te helpen op hun pad. Frank hielp ook vaak bij de organisatie van de club.
    p We herinneren Frank als een warm persoon. Iemand waarmee een goeie babbel nooit veraf was.
    h3 Eerbetoon
    p Als eerbetoon hebben we, in overleg met onze Japanse meester Tomita Sensei, Frank postuum de zwarte gordel toegekend. Waarom doen we dit deden? Omdat een zwarte gordel is niet zomaar “het volgende kleurtje” is.
    p
      | In Aikido dragen we geen gekleurde gordels zoals dat in Judo of Karate gebeurt. In Aikido dragen we een witte gordel, tot we een zwarte gordel krijgen. Dat heeft een reden. Je hebt de witte gordel net zo lang gedragen en er zo veel in gezweet, dat hij door pure slijtage zwart is geworden.
      | En dan begint je echte traject. Je persoonlijke zelfontplooiing die voorbij het technische curriculum gaat. De persoonlijke zoektocht.
    p Die eerste kyu graden reflecteren het technische kunnen van iemand. Een zwarte gordel overstijgt dat, want een zwarte gordel krijg je niet zomaar door gewoon even je volgende examen af te leggen. Je verdient die gordel omdat je een voorbeeld bent geworden voor alle nieuwe mensen die aan hun zoektocht beginnen. Je verdient die gordel omdat je niet langer enkel aan je eigen traject werkt, maar omdat je inzet en houding de volledige groep doet groeien en omdat je zo algemeen bijdraagt tot Aikido.
    p Frank was daar al lang mee bezig.
    p We hebben allemaal heel veel van Frank geleerd. Een beter voorbeeld zullen we niet snel vinden. Daarom twijfelden we niet om hem deze zwarte gordel toe te kennen. Hij zal voor altijd dat voorbeeld voor ons blijven.
    p Bedankt Frank, we zullen je missen. Het ga je goed op je laatste reis.
