extends ../includes/base

block config
    - pageType = 'news'
    - pageKey = 'start-september-2021'

block mainContent
  p We kunnen het nieuwe seizoen weer opstarten zoals voor de Corona-periode. Goed nieuws dus! Eind augustus opende de sporthal ook weer voor ons de deuren en zijn we de lessen vol enthousiasme gestart.
