extends ../includes/base

block config
  - pageType = 'news'
  - pageKey = 'temple-sur-lot-2020-cancelled'

block mainContent
  p Door de aanhoudende dreiging van het Corona-virus is er beslist onze jaarlijkse stage in Temple-sur-Lot (Zuid-Frankrijk) niet te laten doorgaan.
  p Er wordt momenteel onderzocht hoe we andere stages, later op het jaar, kunnen uitbreiden.
