extends ../includes/base

block config
    - pageType = 'news'
    - pageKey = 'zeestage-2021'

block mainContent
  p
    | Naar goede gewoonte pikken we de Ban Sen Juku stages ook weer op. En waarom niet meteen beginnen met een stage die we zelf organiseren? Tomita Sensei geeft op
    b  zaterdag 2 oktober 2021
    |  een volledige dag les in de sporthal in Veurne.
  p Er wordt in de voormiddag lesgegeven van 11:00 tot 13:00 en in de namiddag van 16:00 tot 18:00.
  p De stage is toegankelijk voor alle aikidoka's die interesse hebben.
  p
    | Meer info vind je op deze poster
    a(
      href='https://bansenjuku.org/posters/Seaside2021.pdf'
      target='_blank'
      )
      |  https://bansenjuku.org/posters/Seaside2021.pdf

