extends ../includes/base

block config
    - pageType = 'news'
    - pageKey = 'zeestage-2021-terugblik'

block mainContent
    p Op zaterdag 2 oktober kwamen we naar aloude gewoonte samen aan de kust voor een dag boordevol Aikido. Het werd een interessante dag, waarop Tomita Sensei dieper in ging op het principe van éénwording. Hij bracht specifieke oefeningen en hielp ons zo vat te krijgen op één van de meest essentiële principes van Aikido.
    p We sloten de dag af met een gezellig etentje in het centrum van Veurne.

    +gallery('zeestage-2021',7)
