include mixins/teaser

doctype html
html(lang='en')
  head
    include ../includes/head
  body.component
    +teaser('Instappen kan op elk moment', '../assets/image_01.jpg', '#')
      p
        | Heb je zin om te proeven van een authentieke Japanse krijgskunst? De beste manier om Aikido te ontdekken, is mee op de mat stappen. Nieuwkomers zijn op ieder moment in het seizoen van harte welkom.