nav {
  position: relative;
  max-width: 120rem;
  margin: 0 auto;
  height: $desktop-header-height;

  ul {
    position: absolute;
    top: 50%;
    right: 2rem;
    list-style: none;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      margin-left: 2rem;

      a {
        color: $black;
        font-size: 1.4rem;

        &:hover {
          text-decoration: underline;
        }
      }

      span.active {
        color: $primary;
        font-size: 1.4rem;
        font-weight: 500;
      }
    }
  }
}
