extends includes/base

block config
  - pageKey = 'corona'

block mainContent
  p Naar aanleiding van de maatregelen in het kader van de bestrijding van het Coronavirus, zijn wij genoodzaakt alle lessen op te schorten tot nader order.
