extends includes/base

block config
  - pageKey = 'home'

block mainContent
  .hp-teasers
    +teaser(CONFIG['instappen'].title, CONFIG['instappen'].image, CONFIG['instappen'].path)
      p Heb je zin om te proeven van een authentieke Japanse krijgskunst? De beste manier om Aikido te ontdekken, is mee op de mat stappen. Nieuwkomers zijn op ieder moment in het seizoen van harte welkom.

    +teaser(CONFIG['tomita-essence-videos'].title, CONFIG['tomita-essence-videos'].image, CONFIG['tomita-essence-videos'].path)
      p Tomita Sensei heeft het in een reeks video's over de essentie van Aikido.

  .news
    h2 Nieuws
    ul
      each val, key in NEWS
        +news-teaser(NEWS[key].path, NEWS[key].image, NEWS[key].title, NEWS[key].text, NEWS[key].target)

