extends includes/base

block config
  - pageKey = 'home'

block mainContent
  .hp-teasers
    //+teaser(NEWS['corona'].title, '../assets/corona.jpg', NEWS['corona'].path)
      p De trainingen zijn opnieuw gestart. Elke dinsdag en donderdag wordt er opnieuw getraind.

    +teaser(CONFIG['instappen'].title, '../assets/image_01.jpg', CONFIG['instappen'].path)
      p Heb je zin om te proeven van een authentieke Japanse krijgskunst? De beste manier om Aikido te ontdekken, is mee op de mat stappen. Nieuwkomers zijn op ieder moment in het seizoen van harte welkom.

    //+teaser(CONFIG['waarom-aikido'].title, '../assets/image_02.jpg', CONFIG['waarom-aikido'].path)
      p Waarom doen we aikido? Op deze vraag is er geen eenduidig antwoord. Aikido is rijk genoeg opdat iedereen er verschillende dingen kan uithalen die voor hem of haar belangrijk zijn.
        |
    +teaser(NEWS['maand-van-de-sportclub-2021'].title, NEWS['maand-van-de-sportclub-2021'].image, NEWS['maand-van-de-sportclub-2021'].path)
      p #{NEWS['maand-van-de-sportclub-2021'].text}

  .news
    h2 Nieuws
    ul
      each val, key in NEWS
        +news-teaser(NEWS[key].path, NEWS[key].image, NEWS[key].title, NEWS[key].text, NEWS[key].target)

