extends includes/base

block config
  - pageKey = 'instappen'

block mainContent
  p Heb je zin om te proeven van een authentieke Japanse krijgskunst? De beste manier om Aikido te ontdekken, is mee op de mat stappen.
  p Bij Aikido wordt getracht het evenwicht van de tegenstander te verstoren en samen te vloeien met de kracht van de aanval. Wanneer we één worden met de aanvaller, kunnen we zijn lichaam gebruiken alsof het ons eigen lichaam was. Aikido kan door iedereen beoefend worden - mannen en vrouwen, jong en oud.
  p Plaats en tijdstippen zijn onveranderd. Sportzaal Neptunus Botestraat 98,9032 Wondelgem Gent. Iedere dinsdag om 20:00 en iedere donderdag om 21:00. Nieuwkomers zijn op ieder moment in het seizoen van harte welkom. Er is geen enkele voorkennis vereist. Losse kledij en veel zin volstaan om met ons mee te trainen. Contacteer gerust Dries (zie Homepagina voor contactgegevens) indien er nog informatie gewenst zou zijn.
  p Tot dinsdag en/of donderdag op de mat.