extends includes/base

block config
  - pageKey = 'links'

block mainContent
  h3 Sociale media
  p Facebook: &nbsp;
    a(href='https://facebook.com/aikidogent', title='Aikido Gent Facebook') facebook.com/aikidogent

  h3 Ban Sen Juku
  p
    | De officiële website van de Ban Sen Juku school.
    br
    | Hier vind je alle informatie over de school, stages, dojos...
    br
    a(href='https://www.bansenjuku.org', title='Ban Sen Juku') www.bansenjuku.org
    | &nbsp;-&nbsp;
    a(href='https://bansenjuku.org/seminars.html', title='Ban Sen Juku stage') stages