include components/mixins/all

block nav
  - active = 'Nieuws'

doctype html
html(lang='en')
  head
    include includes/head
  body.home
    .wrapper
      include includes/header
      .page-content
        .logo.desktop
          include includes/logo
        .intro
          +info()
          +banner('assets/hp-banner.jpg')
        .main-content
          .news
            h2 Nieuws
            ul
              +news-teaser('#', 'assets/news_01.jpg', '25 jaar Go Ryu dojo Ban Sen Juku Gent', 'Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur.')
              +news-teaser('#', 'assets/news_02.jpg', 'Instappen is mogelijk op ieder moment', 'Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur.')
              +news-teaser('#', null, 'Seizoensstart 2018-2019 op dinsdag 14 augustus', 'Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur.')
              +news-teaser('#', 'assets/news_03.jpg', 'Ban Sen Juku viert 30ste verjaardag', 'Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur.')
        footer
          p &copy; 2019 - Ban Sen Juku Go Ryu
    .hamburger
    include includes/scripts
