extends includes/base

block config
  - pageKey = 'onze-dojo'

block mainContent
  p De naam van onze dojo is Go Ryu. De naam staat enerzijds in relatie met het samenkomen van de Leie en de Schelde in Gent, anderzijds met het samenwerken, het samenkomen van stromingen binnen de dojo. Ryu betekent grof vertaald stijl of school, een bepaalde manier om dingen te doen. Sinds oktober 2013 is onze dojo gevestigd in sportzaal Neptunus te Wondelgem.
  p Elke dojo heeft zijn eigenheid, gevormd door de leraar en de mensen die er trainen. Dit bepaalt voor een groot stuk hoe goed je je voelt binnen een dojo.
  p In onze dojo proberen we, naast hard te trainen, op en naast de mat ook een goede sfeer in stand te houden, zonder daarbij de sereniteit te verliezen. Aikido discussies houden is voor de 'après-aikido'.
  p Er wordt ook steeds getracht om eerlijk te trainen met respect voor elkaar en met elkaars veiligheid in gedachten. We trachten steeds het oude gezegde in ere te houden: "Leave your ego with your shoes: off the mats!". Zo streven we in goede sfeer samen de perfectie na.

  h3 Over Ban Sen Juku
  p Ban Sen Juku is een internationaal cultureel instituut voor traditionele Japanse Budo. De basisdoelstelling is het overbrengen van deze aspecten van de oosterse cultuur aan alle geïnteresseerden.
  p De school werd opgericht in 1988 door Tomita Seiji Shihan en omvat vele dojo’s verspreid over de hele wereld. Meer info in verband met de school en komende stages vind je op de Ban Sen Juku website.

  h3 Tomita Seiji Sensei
  +image-left('assets/tomita_sensei.jpg', 'Tomita Seiji Sensei')
    p Meester Tomita Seiji had het privilege om aikido te leren onder de directe begeleiding van O’Sensei, de stichter van Aikido, in de dojo van Meester Tanaka Bansen, te Osaka.
    p Hij kreeg aanvullende inzichten van Meester Tohei Koichi (leider van de Ki Society) en van Meester Saito Morihiro (Iwama Takemusu Aikido) en bereikte zo de essentie van Budo.
    p Via de zijde route kwam Meester Tomita terecht in onze hoofdstad waar hij de Ban Sen Juku school oprichtte.
    p Tomita Sensei geeft tot op vandaag nog steeds les in Brussel.