extends includes/base

block config
  - pageKey = 'praktisch'

block mainContent
    p De lessen gaan door op dinsdag en donderdag avond in sportzaal Neptunus te Wondelgem.
    p
      strong
        | Dinsdag 20:00 tot 22:00
        br
        | Donderdag 21:00 tot 22:30

    p De dojo is makkelijk te bereiken met het openbaar vervoer.
    ul
      li Tram 1 - richting Evergem/Wondelgem: afstappen aan de halte 'Wondelgem Botestraat'.
      li Bus 6 - richting Mariakerke: afstappen aan de halte 'Wondelgem Maststraat'.
    p Zowel de bus als de tram brengen je na de les nog terug richting het centrum van Gent.
    p Inschrijven kan het hele jaar door.
    h3 Lidgeld
      i &nbsp; (inclusief verzekering)
    p 250 euro per jaar
      i (150 euro voor studenten)
    h3 Betalingswijze
    p
      | Per overschrijving naar BE76 3770 3610 9295 (BBRUBEBB)
      br
      | Gelieve bij overschrijving je naam als mededeling in te geven.