extends includes/base

block config
  - pageKey = 'waarom-aikido'

block mainContent
  p Waarom doen we aikido? Op deze vraag is er geen eenduidig antwoord. Aikido is rijk genoeg opdat iedereen er verschillende dingen kan uithalen die voor hem of haar belangrijk zijn. Daarom vroegen we aan enkele van onze leden wat hun motivatie is om telkens weer op de tatami te staan.