extends includes/base

block config
  - pageKey = 'wat-is-aikido'

block mainContent
  p Aikido is een traditionele Japanse krijgskunst, waarin getracht wordt het evenwicht van de tegenstander te verstoren en samen te vloeien met de kracht van de aanval. Wanneer we één worden met de aanvaller, kunnen we zijn lichaam besturen alsof het ons eigen lichaam was.
  p Om dit mogelijk te maken moeten we op een rustige manier de situatie kunnen beoordelen en eigen lichaam en geest goed onder controle hebben. Daarom wordt in Aikido veel aandacht besteed aan houding en ademhaling. Daarnaast wordt ook geleidelijk een ontspannen soepelheid opgebouwd.
  p Vele bewegingen in Aikido werden ontleend aan de Japanse zwaardkunst. Om deze bewegingen goed onder de knie te krijgen, wordt er in onze dojo te Gent regelmatig met houten zwaarden (BOKUTO) geoefend. Ook andere wapens zoals de stok (JO) en het mes (TANTO) komen aan bod.

  h3 Een unieke krijgskunst
  +image-left('assets/osensei.jpg', 'O-Sensei Morihei Ueshiba')
    p Aikido werd gecreëerd door O’Sensei Ueshiba Morihei en is uniek onder de Japanse traditionele krijgskunsten. Aikido is gebaseerd op de weg van de minste weerstand en belichaamt de geest van harmonie en oosterse filosofie.
    p Harmonie is het enige principe in Aikido. Ware kracht ligt niet in weerstand bieden, maar in het samenvloeien met de kracht van de tegenstander. Door in deze stroom mee te vloeien, kunnen oneindig veel technieken gemaakt worden die aan elke situatie zijn aangepast.

  h3 Een open deur voor iedereen
  p Omdat het niet op spierkracht is gebaseerd, kan Aikido door zowat iedereen beoefend worden - mannen en vrouwen, jong en oud... In Aikido oefenen beginners samen met gevorderden. Tijdens de trainingen in Gent wordt veel aandacht besteed aan het ontwikkelen van een goede houding.